* {
    box-sizing: border-box;
}

:root {
    --hoverTextColor: #9F2089;
    --textColor: rgb(87, 85, 85);
    --shadow: box-shadow: rgba(34, 34, 34, 0.12) 0px 2px 4px, rgba(34, 34, 34, 0.12) 0px 0px 1px;
}

.fa-magnifying-glass,
.fa-xmark {
    color: #7d7d7d;
}

.fa-expand,
.fa-file-arrow-down,
.fa-ellipsis {
    color: #5398ffaf;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--textColor);
}

img {
    width: 100%;
}

.main-header {
    height: 72px;
    outline: 1.5px solid rgb(199, 199, 199);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}

.leftHeader,
.rightHeader {
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    margin: 0 60px 0;
}

.searchContainer {
    width: 394px;
    height: 45px;
    outline: 1px solid rgb(126, 126, 126);
    display: flex;
    margin-left: -26px;
    border-radius: 3px;
    align-items: center;
    padding: 8px;
    position: relative;
}

.searchIcon .fa-magnifying-glass {
    margin: 6px;
}

form {
    width: 100%;
}

.inputBox {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

#closeSearchBar {
    display: none;
}

.popularSearches {
    position: absolute;
    top: 45px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    display: none;
    height: 210px;
    border-radius: 0 0 8px 8px;
    padding: 15px;
    box-shadow: var(--shadow);
    z-index: 3;
}

.searchContainer:focus-within .popularSearches {
    display: block;
}

.mobileIcon {
    /* width: 15px; */
    margin: 5px;
}

.downloadContainer {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 20px;
    position: relative;
}

.downloadContainer:hover {
    color: var(--hoverTextColor);
    cursor: pointer;
}

.downloadContainer::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -19px;
    content: "";
    display: block;
    height: 2px;
    /* left: 50%; */
    position: absolute;
    background: #9F2089;
    transition: left 0.3s ease 0s;
    width: 0;
}

.downloadContainer:hover::after {
    width: 100%;
    left: 0;
}

.downloadBtn {
    display: block;
    width: 180px;
    margin-top: 5px;
}

.downloadDropContainer {
    position: absolute;
    bottom: 0;
    top: 50px;
    /* box-shadow: 0px 0px 5px rgba(0,0,0,0.3); */
    width: 200px;
    /* background-color: red; */
    display: none;
    height: 200px;
    padding: 10px;
    margin-left: -30px;
    color: var(--textColor);
    background: white;
    z-index: 2;
    border-radius: 0 0 8px 8px;
}

.downloadContainer:hover .downloadDropContainer,
.downloadContainer:focus .downloadDropContainer {
    display: block;
    box-shadow: rgba(34, 34, 34, 0.12) 0px 2px 4px, rgba(34, 34, 34, 0.12) 0px 0px 1px;
}

.downloadContainer p {
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.supplyContainer {
    padding: 0px 30px;
    border-left: 2px solid rgb(206, 206, 222);
    border-Right: 2px solid rgb(206, 206, 222);
    border-radius: 2px;
    font-size: 17px;
}

.newsContainer {
    padding: 0px 30px;
    border-Right: 2px solid rgb(206, 206, 222);
    border-radius: 2px;
    font-size: 17px;
}

.profileAndCart {
    display: flex;
    align-items: center;

}

.profileAndCart:hover,
.profileAndCart:focus {
    color: var(--hoverTextColor);
}

.profileIcon,
.cartIcon {
    width: 20px;
}

.profileAndCart p {
    margin: 0;
    padding: 0;
}

.profileContainer,
.cartContainer {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cartContainer {
    margin-right: 60px;
}

/* navbar */
nav {
    width: 100%;
    border-bottom: 2px solid #646464af;
    height: 54px;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
    margin: 0 60px;
    position: relative;
}

nav ul li {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    /* background-color: red; */
    border-bottom: 2px solid transparent;
    cursor: pointer;

}

nav ul li:hover {
    color: var(--hoverTextColor);
    border-bottom: 4px solid var(--hoverTextColor);
}

/* submenu section */
.subMenu {
    position: absolute;
    /* height: 400px; */
    top: 51px;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: none;
    margin: 6px 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 99;
    font-size: 18px;
    line-height: 24px;
}

nav ul li:hover .subMenu {
    display: block;
}

/* .submenu h3{
    margin: 0 0 10px;
    font-weight: bold;
    color: var(--textColor);
} */

.subMenu p {
    color: var(--textColor);
    margin: 0;
}

.submenuList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

.column {
    margin-right: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#womenEthnic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#womenEthnic .column {
    width: 31%;
    margin-bottom: 2rem;
    margin-right: 40px;
}

#womenEthnic .column h4 {
    margin: 0 0 10px;
    font-weight: bold;
    color: var(--textColor);
}

#womenEthnic .column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#womenEthnic .column ul li {
    padding: .2rem 0;
    font-size: .95em;
    color: #767676;
    cursor: pointer;
}

#womenEthnic .column ul li:first-child {
    padding-top: 0;
}

#womenEthnic .column ul li:last-child {
    padding-bottom: 0;
}


/* lowest price section starts */

.lowestpriceContainer {
    display: flex;
    margin: 55px auto;
    max-width: 1100px;
    background-color: rgb(248, 248, 255);
    padding: 30px 20px 0;
}

.lowestpriceContainer h1 {
    font-size: 42px;
    margin: 0;
    color: rgb(60, 51, 51);
}

.lowestPrice_text {
    width: 50%;
    padding: 25px 0 0 25px;
}

.lowestPrice_image {
    width: 50%;
    margin: 0;
    padding: 0;
}

.lowestPrice_icon {
    width: 30px;
    border-radius: 40px;
    background-color: rgb(238, 133, 187);
}

.lowestPriceWhay {
    display: flex;
    height: 50px;
    margin: 30px 0;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.lowestPriceItem {
    padding: 0 20px;
    width: 100%;
    max-width: 80%;
    display: flex;
    align-items: center;
    /* border-right: 2px solid #ccc;
    background-color: rgb(255, 255, 255); */
    /* margin-top: 28px; */
    /* border-radius: 8px; */
}

.lowestPriceItem p {
    padding-left: 10px;
}

.downloadApp_container {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: var(--hoverTextColor);
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    color: white;
    margin: 35px 0;
}

.downloadApp_container p {
    padding: 0px 20px;
}


/* top category section starts*/

.topCategories {
    width: 1100px;
    margin: auto;
}

/* for fashion */
.topCategoryHeading {
    display: flex;
    align-items: center;
}

hr {
    padding: .5px;
    background-color: var(--hoverTextColor);
    width: 50%;
}

.topCategoryHeading h1 {
    width: max-content;
    text-align: center;
    width: 1050px;
    color: rgb(53, 53, 67);
    font-size: 36px;
    margin: 0;
}

.topCategoryFashion {
    width: 100%;
    height: 500px;
    background-image: url("https://images.meesho.com/images/marketing/1706590494702_1200.webp");
    background-repeat: no-repeat;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
    border-radius: 8px;
}

.topCategoryFashion img {
    max-width: 300px;
    margin: 10px;
    bottom: 0;
}

.topCategoryFashion img:first-child {
    max-width: 400px;
}


/* for essentials */

.essentialContainer {
    width: 100%;
    height: 500px;
    background-color: 400px;
    margin-top: 50px;
    background-image: url("https://images.meesho.com/images/marketing/1706590599802_1200.webp");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}

.essentialContainer img,
.newStyleContainer img {
    max-width: 180px;
}

.essential_item,
.newStyle_item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
}

.view-btn,
.style-view-btn {
    margin-left: 100px;
    margin-top: 20px;
    max-width: 150px;
}


/* for new styles */

.newStyleContainer {
    width: 100%;
    height: 500px;
    background-color: 400px;
    margin-top: 50px;
    background-image: url("https://images.meesho.com/images/marketing/1706590906823_1200.webp");
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
}


/* reseller container */

.becomeResellerContainer {
    margin: 50px 0px;
    position: relative;
}

.becomeResellerContainer img {
    width: 100%;
    border-radius: 8px;
}

.becomeResellerContentContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 40px 0px;
    margin: 0 20px;
}

.becomeResellerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.becomerSeller_appDownload {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.becomerSeller_appDownload img {
    width: 100%;
    height: 100%;
    background-color: black;
}

.becomeResellerContent h2 {
    color: rgb(85, 133, 248);
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 2px;
}

.becomeResellerContent h1 {
    color: var(--hoverTextColor);
    font-size: 50px;
    width: 60%;
    text-align: right;
    font-weight: 600;
}

.becomerSeller_appDownload_container {
    display: flex;
}

/* meesho supplier section */

.benefitImage {
    width: 20px;
    margin-right: 10px;
}

.supplierBenefit {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    /* border-right: 2px solid white; */
    height: 25px;
}

.supplierBenefit .divider {
    height: 25px;
    background-color: rgb(255, 255, 255);
    width: 1.5px;
    border-radius: 2px;
    margin-left: 40px;
    margin-right: 0;
}

.supplierBenefit:first-child {
    padding: 0;
    padding-right: 40px;
}

.supplierBenefitContainer {
    display: flex;
    align-items: center;
    margin: 40px 0px;
}

.supplierContainer {
    position: relative;
}

.supplierContainer img {
    border-radius: 8px;
}

.supplierContentContainer {
    position: absolute;
    top: 0;
    padding: 20px 30px;
    color: white;
}

.signup_btn_now {
    background-color: white;
    color: var(--hoverTextColor);
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
}

.supplierContainer .hoverIcons {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.supplierContainer .hoverIcons .icon {
    width: 40px;
    height: 40px;
    background-color: #f7f7f7;
    mix-blend-mode: lighten;
    border-radius: 50%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supplierContainer:hover .hoverIcons {
    display: flex;
    flex-direction: column;
}